main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}
#input
{
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: 570px;
    border-radius: 20px;
    border-width: 1px;
    border-color:lightgrey;
    margin-top: -20px;
    padding: 15px;
    margin: 30px;
    width: 580px;
    height: 40px;
    flex: 0 0 200px;
    margin-left: 10px;
    margin-bottom: 15px;
}
#google_icon{
  margin-top: 80px;
  margin-bottom: -50px;
  width:270px;
  
}
.input

#google_image{
  margin-top: 113px;
  margin-bottom: -50px;
  padding-bottom: 35px;
  width:325px;
}

  input:hover{
    box-shadow:0px 1px 2px 3px  lightgray;
}

input:focus{
 outline: white;
}
#submit{
  margin-right: 20px;
}

.nav-item
 {
   font-size: large;
   padding: -8px;
 }

 .nav-item:hover{
  text-decoration: underline;
 }

 .red
 {
  color: red;
   font-size: 22px;
   padding-left:40px;
   padding-top: 20px;
  font-family: "Times New Roman", Times, serif;
 }

#line{
  height:0.5px;
  border-width:0.5px;
  color:lightgray;
  background-color:#e9e6e6;
  margin-top:30px;
  margin-bottom: 30px;
}

#find_line{
  margin: 50px;
  margin-top: 35px;
  font-size:large;
  font-family: "Times New Roman", Times, serif;
}

label{
  font-size:small;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  width: 240px;
  line-height: 26px;
  margin-bottom: 15px;
  padding-left: 50px;
  outline: white;
}

#ad_button{
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.col-xs-1{
  margin-top: -30px;
}
.input:focus{
border-color:rgb(146, 180, 255);
border-width: 2px;
box-shadow: white;
background-color: white;
}
.input:hover{
  border-color:white ;
}